# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
\#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
TOKEN
core
*CVS*
new_main/subs/molecular/C2MI_OSC
new_main/subs/molecular/C2OMI_OSC
new_main/subs/molecular/CARB_MONOX_MAXV_002_MAXJ_010_OSC
new_main/subs/molecular/CARB_MONOX_MAXV_003_MAXJ_018_OSC
new_main/subs/molecular/CARB_MONOX_MAXV_010_MAXJ_040_OSC
new_main/subs/molecular/CARB_MONOX_MAXV_010_MAXJ_060_OSC
new_main/subs/molecular/CARB_MONOX_MAXV_010_MAXJ_075_OSC
new_main/subs/molecular/CARB_MONOX_MAXV_012_MAXJ_060_OSC
new_main/subs/molecular/CO2MI_OSC
new_main/subs/molecular/COMI_COL_DATA
new_main/subs/molecular/COMI_COL_DATA_F0
new_main/subs/molecular/COMI_COL_DATA_NEW
new_main/subs/molecular/COMI_COL_DATA_NEW19
new_main/subs/molecular/COMI_COL_DATA_NEW2
new_main/subs/molecular/COMI_COL_DATA_ROT0P01
new_main/subs/molecular/COMI_COL_DATA_ROT0P1
new_main/subs/molecular/COMI_COL_DATA_ROT0P1_A
new_main/subs/molecular/COMI_COL_DATA_ROT10
new_main/subs/molecular/COMI_COL_DATA_ROT2
new_main/subs/molecular/COMI_FTOS_OCT11
new_main/subs/molecular/COMI_F_TO_S
new_main/subs/molecular/COMI_F_TO_S1
new_main/subs/molecular/COMI_F_TO_S_04
new_main/subs/molecular/COMI_F_TO_S_19
new_main/subs/molecular/COMI_F_TO_S_NLTETOLTE
new_main/subs/molecular/COMI_F_TO_S_RED
new_main/subs/molecular/COMI_F_TO_S_RED2
new_main/subs/molecular/COMI_F_TO_S_RED3
new_main/subs/molecular/COMI_F_TO_S_RED35
new_main/subs/molecular/COMI_F_TO_S_RED40
new_main/subs/molecular/COMI_F_TO_S_RED50
new_main/subs/molecular/COMI_F_TO_S_VIB
new_main/subs/molecular/COMI_F_TO_S_VIB02
new_main/subs/molecular/COMI_F_TO_S_VIB38
new_main/subs/molecular/COMI_OSC
new_main/subs/molecular/COMI_OSC_BLEGH
new_main/subs/molecular/COMI_OSC_NLTETOLTE
new_main/subs/molecular/COMI_OSC_RED
new_main/subs/molecular/COMI_OSC_RED2
new_main/subs/molecular/COMI_OSC_RED3
new_main/subs/molecular/COMI_OSC_RED35
new_main/subs/molecular/COMI_OSC_RED40
new_main/subs/molecular/COMI_OSC_RED50
new_main/subs/molecular/COMI_OSC_SUP
new_main/subs/molecular/COMI_OSC_VIB
new_main/subs/molecular/COMI_OSC_VIB02
new_main/subs/molecular/COMI_OSC_VIB04
new_main/subs/molecular/COMI_OSC_VIB19
new_main/subs/molecular/COMI_OSC_VIB2
new_main/subs/molecular/COMI_OSC_VIB38
new_main/subs/molecular/COMPTON_CROSS_SECTIONS
new_main/subs/molecular/COMPTON_EXTRAP_XC_CO
new_main/subs/molecular/COMPTON_EXTRAP_XC_COP
new_main/subs/molecular/COMPTON_EXTRAP_XC_CPO
new_main/subs/molecular/COM_LEVELS
new_main/subs/molecular/MOL_RXNS_DATA
new_main/subs/molecular/MOL_RXNS_DATA_NOCOMP
new_main/subs/molecular/MOL_RXNS_DATA_OXYCHANGE
new_main/subs/molecular/MOL_RXNS_DATA_RED
new_main/subs/molecular/MOL_RXNS_DATA_RR
new_main/subs/molecular/MOL_RXNS_DATA_V0
new_main/subs/molecular/MOL_RXNS_DATA_V1
new_main/subs/molecular/O2MI_OSC
new_main/subs/molecular/PHOTC2MI_A
new_main/subs/molecular/PHOTC2OMI_A
new_main/subs/molecular/PHOTCMI_A
new_main/subs/molecular/PHOTCMI_A_NLTETOLTE
new_main/subs/molecular/PHOTCO2MI_A
new_main/subs/molecular/PHOTCOMI_A
new_main/subs/molecular/PHOTO2MI_A
new_main/subs/molecular/REACTIONS_DATA
new_main/subs/molecular/Table_S5.par
new_main/subs/molecular/a.out
new_main/subs/molecular/col_guess.dat
new_main/subs/molecular/convert_hitran
new_main/subs/molecular/convert_hitran_new_oct16
new_main/subs/molecular/convert_new_oct11_23
new_main/subs/molecular/convert_reduced
new_main/subs/molecular/convert_reduced2
new_main/subs/molecular/make_osc_and_sup
new_main/subs/molecular/make_phot
new_main/subs/molecular/oi_col
new_main/subs/molecular/oi_osc_op
new_main/subs/molecular/testvj
new_main/subs/molecular/molecular_data/Table_S5.par
new_main/subs/molecular/molecular_data/*
.Makefile.swp
Diff_output
Diff_sum
Diff_sum_v1
NOTES
RUB
a.out
build_crc.sh
com/aliases_for_cmfgen.sh_save
com/jnk1
exe_dbg/
jnk
make.log
make.out
misc/ERROR_CHK_FOR_CIII
new_main/cmfgen.f_old
new_main/subs/cmf_sub_sonic_hydro.f_19jan24
new_main/subs/eval_adiabatic_v3.f_save
new_main/subs/jnk
new_main/subs/molecular/make_sio_phot
new_main/subs/molecular/make_sio_phot.f90
new_main/subs/non_therm/read_arnaud_ion_data.f90_old
new_main/subs/rd_sn_data.f_old
newsubs/quad_multi_v10.f_rev
newsubs/quad_multi_v10.f_save
newsubs/tmp/
newsubs/x.f
obs/OUT_FLUX
pgplt/Makefile_26aug22
plane/cmf_formal_rel_v4.f.ps
plane/old_mom_jrel_v9.txt
rub1
spec_plt/subs/get_assoc_ion.f_old
stark/set_prof_v5.f_store
stark/strk_ds.f90_fdg
stark/strk_ds.f90_orig
subs/prrr_sl_v6.f_old

# CVS default ignores end
